In [1]:
import pandas as pd
import numpy as np

In [11]:
dataset = pd.read_csv("Ginger.csv")
dataset

            Date Unit  Minimum  Maximum  Average  Market
0     2013-06-16   Kg      140      150    145.0  Ginger
1     2013-06-17   Kg      140      150    145.0  Ginger
2     2013-06-18   Kg      140      150    145.0  Ginger
3     2013-06-19   Kg      140      150    145.0  Ginger
4     2013-06-20   Kg      140      150    145.0  Ginger
...          ...  ...      ...      ...      ...     ...
2746  2021-05-09   Kg       60       80     70.0  Ginger
2747  2021-05-10   Kg       70       80     75.0  Ginger
2748  2021-05-11   Kg       70       80     75.0  Ginger
2749  2021-05-12   Kg       90      100     95.0  Ginger
2750  2021-05-13   Kg       80       90     85.0  Ginger

[2751 rows x 6 columns]

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2751 entries, 0 to 2750
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     2751 non-null   object
 1   Unit     2751 non-null   object
 2   Minimum  2751 non-null   int64
 3   Maximum  2751 non-null   int64
 4   Average  2751 non-null   float64
 5   Market   2751 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 129.1+ KB

In [4]:
dataset.loc[0:20]

          Date Unit  Minimum  Maximum  Average  Market
0   2013-06-16   Kg      140      150    145.0  Ginger
1   2013-06-17   Kg      140      150    145.0  Ginger
2   2013-06-18   Kg      140      150    145.0  Ginger
3   2013-06-19   Kg      140      150    145.0  Ginger
4   2013-06-20   Kg      140      150    145.0  Ginger
5   2013-06-21   Kg      130      140    135.0  Ginger
6   2013-06-25   Kg      140      150    145.0  Ginger
7   2013-06-26   Kg      130      140    135.0  Ginger
8   2013-06-27   Kg      130      140    135.0  Ginger
9   2013-06-28   Kg      130      140    135.0  Ginger
10  2013-06-30   Kg      130      140    135.0  Ginger
11  2013-07-01   Kg      140      150    145.0  Ginger
12  2013-07-02   Kg      150      160    155.0  Ginger
13  2013-07-03   Kg      150      160    155.0  Ginger
14  2013-07-04   Kg      150      160    155.0  Ginger
15  2013-07-05   Kg      150      160    155.0  Ginger
16  2013-07-09   Kg      150      160    155.0  Ginger
17  2013-07-10   Kg      150      160    155.0  Ginger
18  2013-07-11   Kg      150      160    155.0  Ginger
19  2013-07-12   Kg      160      170    165.0  Ginger
20  2013-07-14   Kg      160      170    165.0  Ginger